<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil del Profesional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding perfil-contenido">
  <!-- Información del Profesional -->
  <ion-card *ngIf="profesional" class="perfil-card">
    <ion-card-header>
      <ion-card-title class="perfil-nombre">{{ profesional.nombre | uppercase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="perfil-detalle">
        <p><strong>Teléfono:</strong> {{ profesional.telefono }}</p>
      </div>
      <div class="perfil-detalle">
        <p><strong>Dirección:</strong> {{ profesional.direccionLegible }}</p>
      </div>
      <div class="perfil-detalle">
        <p><strong>Especialidad:</strong> {{ profesional.especialidad }}</p>
      </div>
      <div class="perfil-detalle">
        <p><strong>Calificación:</strong> {{ profesional.calificacion }}</p>
      </div>
      <div class="perfil-detalle">
        <p><strong>Experiencia:</strong> {{ profesional.experiencia }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Botón para abrir el calendario -->
  <ion-button expand="full" (click)="toggleCalendario()">Ver Disponibilidad</ion-button>

  <!-- Mostrar el calendario solo si 'mostrarCalendario' es verdadero -->
  <ion-item *ngIf="mostrarCalendario">
    <ion-label>Seleccionar fecha</ion-label>
    <ion-datetime 
      displayFormat="YYYY-MM-DD" 
      [(ngModel)]="fechaSeleccionada"
      (ionChange)="onFechaSeleccionada($event)">
    </ion-datetime>
  </ion-item>

  <div *ngIf="disponibilidadCargada">
    <div *ngFor="let disponibilidad of disponibilidad" class="disponibilidad-item">
      <!-- Mostrar la fecha -->
      <p><strong>{{ disponibilidad.fechaFormateada }}</strong></p>
  
      <!-- Mostrar el rango de horas (hora_inicio - hora_fin) -->
      <p class="horaInicioFin">{{ disponibilidad.horaInicioFin }}</p>
  
      <!-- Botón para agendar -->
      <div class="agendar-btn">
        <button 
          (click)="agendarCita(disponibilidad)" 
          [disabled]="disponibilidad.citaPendiente"
          [ngClass]="{'disabled-btn': disponibilidad.citaPendiente}">
          Agendar
        </button>
      </div>
    </div>
  </div>
  
  
</ion-content>
  
  
  
  
  
