.estado-activo {
    color: green;
    font-weight: bold;
  }
  
  .estado-suspendido {
    color: red;
    font-weight: bold;
  }
  
  .estado-modificado {
    color: orange;
    font-weight: bold;
  }
  